.dropdown,
.dropend,
.dropstart,
.dropup {
  position: relative;
}

.dropdownMenuIs {
  height: 55px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  list-style: none;
  align-items: center;
  margin: 0 60px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 7px;
  padding-left: 0;
}

.dropdownMenuIs::before {
  content: '';
  height: 24px;
  background-image: url(/arquivos/hamburguer-icon.svg);
  width: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
  transition: .2s all ease-in-out;
}

.dropdownMenuIs:hover::before {
    filter: invert(51%) sepia(97%) saturate(935%) hue-rotate(38deg)
        brightness(92%) contrast(92%);
}

/* .dropdownMenuIs li.navItem:first-child {
    background-color: #0D6721;
} */

.dropdownMenuIs li.navItem {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* .navLink {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} */

.dropdownMenu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 24px 0 24px 32px;
  margin: 0;
  font-size: 15px;
  color: #212529;
  text-align: left;
  list-style: none;

  border-radius: 0;
  background: #f5f5f5;
  border: 0;
  box-shadow: 4px 0px 3px 0px #00000026;
}

.dropdownMenuIs > .dropdown > .navLink {
  color: #000005;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: pre-wrap;
  position: relative;
}

.dropdownMenuIs:hover > ul.dropdownMenu {
  display: flex;
  top: 100%;
  min-width: 250px;
  gap: 7px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

.dropdownMenu li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #000005;
}

ul.dropdownMenuIs ul.dropdownMenu ul {
  position: absolute;
  top: 0px;
  left: 100%;
  min-width: 250px;
  display: none;
  min-height: 100%;
}

.dropdownItem {
  display: flex;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  justify-content: space-between;
  align-items: center;
  transition: .2s all ease-in-out;
}

ul.dropdownMenuIs ul.dropdownMenu li:hover > ul {
    display: flex;
    flex-direction: column;
    box-shadow: inset 4px 0px 3px 0px #00000026;
}


ul.dropdownMenu .dropdownItem:hover {
  color: #A7CB33;
}
