.flexRow--productSpecificationGroup:not(:first-child) {
    margin-top: 1.5rem;
}

.flexCol--productSpecificationName {
    padding: 1rem;
    min-width: 300px;
}

.flexCol--productSpecificationValue {
    padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
    background-color: #f5f4f4;
}

.flexRow--productSpecification:nth-child(odd) {
    background-color: transparent;
}

.flexRow--productSpecificationGroupName {
    background-color: transparent;
    padding: 0.5rem 0;
    margin-bottom: 20px;
}

.flexRow--productSpecificationGroup {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-bottom: 56px;
}
