.paragraphShelfSpec {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #727272;
}

.containerShelfSpec_empty {
    margin: 0
}

.paragraphShelfSpecExtra {
    display: flex;
    justify-content: center;
    column-gap: 6px;
}

.containerShelfSpec {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 16px;
}
