.stores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.store {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  background: linear-gradient(90deg, #a9b900 0%, #0d6721 100%);
  border-radius: 8px;
}

.shopInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 0 0 29px;
}

.addressContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.address {
  display: block;
  color: #fff;
  min-height: 40px;
  margin: 0.5rem 0 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 29px;
  text-align: left;
  max-width: 370px;
}

.shopName {
  margin: 0;
  font-weight: 700;
  font-size: 31px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  color: #fff;
  margin-bottom: 26px;
}

.phoneStore {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.storeLink {
  display: flex;
  background: #ffffff;
  width: calc(100% - 58px);
  height: 58px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  color: #0D6721;
}

.shopImage {
    max-height: 259px;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
  .stores {
    grid-template-columns: repeat(2, 1fr);
  }
}
