.listPrice {
    color: #727273;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--is-product-main) .sellingPrice {
    margin-bottom: 61px;
}

.sellingPrice,
.sellingPriceValue {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #bacd29;
}

.installments {
    color: #0d6721;
    margin-bottom: 1rem;
}

.currencyContainer {
    font-weight: bold;
    color: #0D6721;
}

.savings {
    font-weight: 500;
    color: #79b03a;
}

/* .sellingPriceValue--summary {
    font-size: 28px;
    font-weight: bold;
    color: #0d6721;
    font-family: "Sarabun", sans-serif;
} */
.sellingPriceValue::after,
.sellingPriceValue--summary::after {
    content: " à vista";

    font-weight: 400 !important;
    font-size: 14px !important;
    color: #000005 !important;
    line-height: 100%;

    display: inline-block;
    margin-left: 7px;
}

.savings--summary {
    background: #8bc34a;
    border-radius: 1000px;
    align-items: center;
    display: flex;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    vertical-align: baseline;
    color: #ffffff;
}

.savings-discount--summary {
    font-size: 0.875rem;
    font-weight: 600;
    vertical-align: baseline;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.listPrice--summary {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
}

.installments--summary {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    color: #0d6721;
    font-family: "Sarabun", sans-serif;
}

.currencyContainer--summary {
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 100%;
    color: #7ea30a;
}

.savings--summaryPercentage {
    background: #0f3e99;
    border-radius: 1000px;
    align-items: center;
    display: flex;
}

.savingsPercentage--summaryPercentage {
    font-size: 0.875rem;
    font-weight: 600;
    vertical-align: baseline;
    color: #ffffff;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

@media screen and (max-width: 767px) {
    .sellingPriceValue--summary {
        font-size: 1.5rem;
        display: flex;
        align-items: flex-end;
    }
    .sellingPriceValue::after,
    .sellingPriceValue--summary::after {
        margin-bottom: 2px;
    }

    .installments--summary {
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    .currencyContainer--summary {
        font-size: 19px;
    }

    .sellingPriceValue::after,
    .sellingPriceValue--summary::after {
        font-size: 12px !important;
    }
}
