@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --gradient: linear-gradient(90deg, #a9b900 0%, #0d6721 100%);
}

.userImage {
    display: none;
}

.menuLinks :global(.b--action-primary) {
    border-color: #292929;
    color: #292929;
}

.boxContainer {
    border: 1px solid #c4c4c4;
}

.boxContainerFooter {
    background-color: #148b2e !important;
    max-height: 36px;
}

.boxContainerFooter :global(.vtex-button) {
    color: #fff;
    margin-top: 2px;
    transition: ease-in 0.22s all;
}

.boxContainerFooter :global(.vtex-button):hover {
    background-color: #bacd29;
}

@media screen and (max-width: 767px) {
    :global(.vtex-search-result-3-x-galleryItem) {
        max-width: 160px !important;
    }
}
:global(.vtex-pageHeader__container) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
}

:global(.vtex-pageHeader__title) {
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #6d6e70;
}

:global(.vtex-pageHeader-link__container) {
    padding-bottom: 2rem;
}

/* my-accont*/

.menuLinks :global(.b--action-primary) {
    border-color: #148b2e;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    color: #6d6e70;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0px;
}

.menuLinks :global(.b--transparent) {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    color: #6d6e70;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0px;
}

.userGreeting,
.userName {
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #148b2e;
    position: relative;
}

.userGreeting {
    padding-top: 5px;
}

.dataEntryLabel {
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #6d6e70;
}

.dataEntryChildren {
    font-family: "Sarabun", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848484;
}

.newsletterBoxContainer {
    display: none;
}

.boxContainer {
    border: 1px solid #c4c4c4;
}

.boxContainerBody {
    font-family: "Sarabun", sans-serif;
    background-color: #fff;
    font-size: 14px;
}

.boxContainerFooter {
    background-color: #292929;
    max-height: 36px;
}

.boxContainerFooter :global(.vtex-button) {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    transition: ease-in 0.22s all;
}

.boxContainerFooter :global(.vtex-button):hover {
    background-color: #bacd29;
}

:global(.vtex-pageHeader__container) {
    padding-top: 1.3rem;
    padding-bottom: 0;
    padding-left: 1rem;
}

/* :global(.vtex-account__page-body) {
    margin: 0px !important;
} */

:global(.vtex-pageHeader-link__container) {
    padding-bottom: 20px;
}

.pageHeader__children :global(.t-action--small) {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #6d6e70;
}

:global(.vtex-account__orders-list) :global(.vtex-my-orders-app-3-x-orderBody) {
    background-color: #fff;
}

:global(.vtex-reviews-and-ratings-3-x-container) {
    background: #fff;
    border-radius: 15px;
    padding: 24px;
    border: 1px solid #cecece;
    margin-bottom: 56px !important;
}

:global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
    margin-bottom: -4px;
}

/* :global(.vtex-reviews-and-ratings-3-x-summaryContainer) {
    margin-bottom: 20px;
} */

@media (max-width: 768px) {
    :global(
            .vtex-modal-layout-0-x-paper.bg-base.relative.br2.vtex-modal-layout-0-x-paperNotFullScreen.dib.tl.v-mid
        ) {
        bottom: 0;
        position: absolute;
        width: 100%;
        left: 0;
        max-width: 80%;
        right: 0;
    }

    :global(.vtex-reviews-and-ratings-3-x-container) {
        padding: 8px 20px;
        max-width: calc(100% - 32px) !important;
    }
}

:global(.vtex-rich-text-0-x-link--conteudo-modal-cookies) {
    font-weight: bold;
    color: #000;
    text-transform: lowercase;
}

:global(.vtex-rich-text-0-x-wrapper--conteudo-modal-cookies)
    :global(.vtex-rich-text-0-x-paragraph) {
    padding: 20px;
    max-width: 700px;
    padding-bottom: 0px;
    font-family: Sarabun, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
    :global(.vtex-modal-layout-0-x-closeButton)::before {
    content: "Aceitar";
}
:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
    :global(.vtex-modal-layout-0-x-closeButton)
    svg {
    display: none;
}

:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
    :global(.vtex-modal-layout-0-x-closeButton) {
    background-color: #bacd29;
    color: #fff;
    width: 110px;
    margin-right: 36px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: Sarabun, sans-serif;
    text-align: center;
}

:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
    :global(.vtex-modal-layout-0-x-closeButton):hover {
    background-color: #148b2e;
    color: #fff;
    width: 110px;
    margin-right: 36px;
    border-radius: 5px;
    margin-bottom: 20px;
}

:global(
        .vtex-modal-layout-0-x-paper.bg-base.relative.br2.vtex-modal-layout-0-x-paperNotFullScreen.dib.tl.v-mid
    ) {
    bottom: 0;
    position: absolute;
    background-color: #fff;
}

:global(article[data-status="payment-pending"]) :global(.c-on-warning) {
    font-size: 0;
}

:global(article[data-status="payment-pending"]) :global(.c-on-warning)::before {
    content: "Aguardando aprovação";
    font-size: 0.75rem;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
    display: none !important;
}

:global(body *) {
    font-family: "Poppins", sans-serif !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--submenuContainer)
    > :global(.pr0.flex):not(:last-child)::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    min-height: 100%;
    background-color: #dfdfdf;
    margin-left: 46px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-menu)
    > :global(.pr0.flex):last-child {
    width: 100% !important;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow) {
    transition: 0.2s all ease-in-out;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow[aria-hidden="false"]) {
    padding-top: 16px;
}

:global(.vtex-render__container-id-product-breadcrumb) {
    margin-top: 16px;
}

:global(.swiper-thumbnails-caret-prev)::after {
    transform: rotate(180deg);
}

:global(.vtex-product-identifier-0-x-product-identifier__label) {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #747474;
}

:global(.vtex-product-identifier-0-x-product-identifier__separator),
:global(.vtex-product-identifier-0-x-product-identifier__value) {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000005;
}

:global(.vtex-flex-layout-0-x-flexRowContent--is-product-main)
    :global(.irmaossoares-zig-custom-0-x-parcelamentoIS) {
    min-height: initial;
    margin-bottom: 40px;
}

:global(.vtex-add-to-cart-button-0-x-buttonDataContainer) {
    align-items: center;
    gap: 16px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--is-product-main)
    :global(.vtex-add-to-cart-button-0-x-buttonDataContainer)::after {
    content: "";
    width: 25px;
    height: 24px;
    background-image: url(/arquivos/pdp-buy-btn-icon.svg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

:global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins";
}

:global(.vtex-product-specifications-1-x-groupName) {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}

:global(.vtex-shelf-1-x-shelfContentContainer--is-shelf-product) {
    min-height: 563px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--faq-meus-pedidos-container)
    :global(.pr0.flex):last-child,
:global(.vtex-flex-layout-0-x-flexRowContent--faq-pagamentos-container)
    :global(.pr0.flex):last-child,
:global(.vtex-flex-layout-0-x-flexRowContent--faq-servicos-container)
    :global(.pr0.flex):last-child,
:global(.vtex-flex-layout-0-x-flexRowContent--faq-produtos-container)
    :global(.pr0.flex):last-child,
:global(.vtex-flex-layout-0-x-flexRowContent--faq-cancelamento-container)
    :global(.pr0.flex):last-child {
    flex-direction: column;
    width: 100% !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--faq-meus-pedidos-container),
:global(.vtex-flex-layout-0-x-flexRowContent--faq-pagamentos-container),
:global(.vtex-flex-layout-0-x-flexRowContent--faq-servicos-container),
:global(.vtex-flex-layout-0-x-flexRowContent--faq-produtos-container),
:global(.vtex-flex-layout-0-x-flexRowContent--faq-cancelamento-container) {
    gap: 60px;
    margin-bottom: 34px;
}

:global(.vtex-disclosure-layout-1-x-trigger--question)
    :global(.vtex-store-icons-0-x-caretIcon) {
    display: none;
}

:global(.vtex-disclosure-layout-1-x-trigger--hidden)::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(/arquivos/disclosure-plus.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 12px;
}

:global(.vtex-disclosure-layout-1-x-trigger--visible)::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(/arquivos/disclosure-minus.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

:global(.vtex-store-header-2-x-headerRowContentContainer--topbar)
    :global(.vtex-slider-layout-0-x-sliderArrows svg) {
    display: none;
}

:global(.vtex-store-header-2-x-headerRowContentContainer--topbar)
    :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    background-image: url(/arquivos/header-topbar-arrow-left.svg) !important;
    width: 8px;
    height: 12px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    left: 13px;
}

:global(.vtex-store-header-2-x-headerRowContentContainer--topbar)
    :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    background-image: url(/arquivos/header-topbar-arrow-right.svg) !important;
    width: 8px;
    height: 12px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    right: 13px;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--home-pitchbar
            > .vtex-flex-layout-0-x-col
    ) {
    width: 100%;
    justify-content: center;
    gap: 16px;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--home-banners-1
            > .vtex-flex-layout-0-x-col
    ),
:global(
        .vtex-flex-layout-0-x-flexRowContent--home-banners-3
            > .vtex-flex-layout-0-x-col
    ) {
    gap: 16px;
}

:global(.vtex-rich-text-0-x-wrapper--institutional-title)
    :global(.vtex-rich-text-0-x-paragraph):first-of-type
    :global(.vtex-rich-text-0-x-strong) {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
}

:global(.vtex-rich-text-0-x-wrapper--institutional-title)
    :global(.vtex-rich-text-0-x-paragraph) {
    color: #000000b2;
}

:global(.vtex-rich-text-0-x-wrapper--institutional-title)
    :global(.vtex-rich-text-0-x-paragraph):first-of-type {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
}

:global(.vtex-flex-layout-0-x-flexRow--cargos-trabalhe-conosco-wrapper)
    :global(.vtex-dropdown__caption)
    > div {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #747474;
}

:global(.vtex-flex-layout-0-x-flexCol--contact-form)
    :global(.vtex-styleguide-9-x-container)
    :global(.vtex-dropdown__arrow)
    svg,
:global(.vtex-flex-layout-0-x-flexCol--contact-form)
    :global(.vtex__icon-caret-down) {
    display: none;
}

:global(.vtex-flex-layout-0-x-flexCol--contact-form)
    :global(.vtex-styleguide-9-x-container)
    :global(.vtex-dropdown__arrow) {
    width: 8px;
    height: 8px;
    background-image: url(/arquivos/dropdown-arrow-form.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--curriculo-trabalhe-conosco-wrapper
    )
    :global(.vtex-dropdown__container)::after,
:global(.vtex-flex-layout-0-x-flexRowContent--seja-fornecedor-form-wrapper)
    :global(.vtex-dropdown__container)::after {
    content: "";
    width: 8px;
    height: 8px;
    background-image: url(/arquivos/dropdown-arrow-form.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--curriculo-trabalhe-conosco-wrapper
    )
    :global(.vtex-styleguide-9-x-dropdown),
:global(.vtex-flex-layout-0-x-flexRowContent--seja-fornecedor-form-wrapper)
    :global(.vtex-styleguide-9-x-dropdown) {
    position: relative;
    margin-top: 10px;
}

:global(
        .vtex-flex-layout-0-x-flexRowContent--curriculo-trabalhe-conosco-wrapper
    )
    :global(.vtex-styleguide-9-x-dropdown)
    > :global(.db.mb3.w-100.c-on-base.t-small),
:global(.vtex-flex-layout-0-x-flexRowContent--seja-fornecedor-form-wrapper)
    :global(.vtex-styleguide-9-x-dropdown)
    > :global(.db.mb3.w-100.c-on-base.t-small) {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #747474;
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 42px;
}

:global(
        .vtex-product-highlights-2-x-productHighlightWrapper[data-highlight-name="Ofertas da semana"]
    ) {
    background: #f8cc1c;
    color: #000;
}

:global(
        .vtex-product-highlights-2-x-productHighlightWrapper[data-highlight-name="Desconto à vista"]
    ) {
    background-color: #bacd29 !important;
}

:global(._lgpdy-eye._lgpdy-h-right) {
    right: 26px !important;
    bottom: 54px;
}

:global(.vtex-render__container-id-suggestions-shelf),
:global(.vtex-render__container-id-accessories-shelf) {
    max-width: 1440px;
    margin: 0 auto 40px;
    width: 100%;
}

:global(.irmaossoares-zig-custom-0-x-customProductContainer)
    :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
    display: none;
}

:global(.irmaossoares-zig-custom-0-x-paginationDotsContainer) {
    bottom: -24px;
}

:global(.irmaossoares-zig-custom-0-x-paginationDot--isActive) {
    background: #a7cb33;
}

:global(.irmaossoares-zig-custom-0-x-slide) {
    max-width: fit-content;
}

:global(.irmaossoares-zig-custom-0-x-sliderTrack) {
    gap: 10px;
}

@media (max-width: 1023px) {
    :global(.irmaossoares-zig-custom-0-x-slide) {
        max-width: initial;
    }
    :global(.vtex-add-to-cart-button-0-x-buttonText) {
        margin-bottom: -3px;
    }

    :global(
            .vtex-flex-layout-0-x-flexRowContent--home-banners-3
                > .vtex-flex-layout-0-x-col
        ) {
        flex-direction: column;
    }

    :global(
            .vtex-flex-layout-0-x-flexRowContent--home-banners-3
                > .vtex-flex-layout-0-x-col
                .vtex-store-components-3-x-imageElementLink
        ) {
        display: flex;
        justify-content: center;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--inputs-form)
        :global(.pr4-ns.pb0.pb0-ns.items-stretch.flex) {
        width: 100% !important;
    }

    :global(.vtex-store-newsletter-1-x-nameInputContainer),
    :global(.vtex-store-newsletter-1-x-emailInputContainer),
    :global(.vtex-store-newsletter-1-x-phoneInputContainer),
    :global(.vtex-store-newsletter-1-x-formSubmitContainer) {
        width: 100%;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--is-product-main)
        :global(.irmaossoares-zig-custom-0-x-parcelamentoIS) {
        margin-bottom: 24px;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--faq-meus-pedidos-container)
        > :global(.pr0-ns.pb0.pb0-ns.flex):last-child,
    :global(.vtex-flex-layout-0-x-flexRowContent--faq-pagamentos-container)
        > :global(.pr0-ns.pb0.pb0-ns.flex):last-child,
    :global(.vtex-flex-layout-0-x-flexRowContent--faq-servicos-container)
        > :global(.pr0-ns.pb0.pb0-ns.flex):last-child,
    :global(.vtex-flex-layout-0-x-flexRowContent--faq-produtos-container)
        > :global(.pr0-ns.pb0.pb0-ns.flex):last-child,
    :global(.vtex-flex-layout-0-x-flexRowContent--faq-cancelamento-container)
        > :global(.pr0-ns.pb0.pb0-ns.flex):last-child {
        flex-direction: column;
    }

    :global(.vtex-product-quantity-1-x-quantitySelectorStepper)
        :global(.vtex-numeric-stepper__plus-button),
    :global(.vtex-product-quantity-1-x-quantitySelectorStepper)
        :global(.vtex-numeric-stepper__minus-button) {
        width: 2.4em !important;
    }
}

:global(.irmaossoares-zig-custom-0-x-calculadora_countBoxesPrice) {
    /* font-style: italic;
    line-height: 18px;
    font-size: 36px;
    color: #0d6721;
    display: block;
    font-weight: 700; */
    margin-top: 10px;
}

:global(.irmaossoares-zig-custom-0-x-productPrice) {
    font-size: 1.8rem;
}

:global(.vtex-flex-layout-0-x-flexCol--home-compre-por-departamento-item)
    :global(
        .vtex-flex-layout-0-x-flexColChild--home-compre-por-departamento-item
    ):nth-child(2) {
    display: none;
}

@media screen and (min-width: 1024px) {
    :global(
            .vtex-flex-layout-0-x-flexCol--home-compre-por-departamento-item
        ):hover
        :global(
            .vtex-flex-layout-0-x-flexColChild--home-compre-por-departamento-item
        ):nth-child(2) {
        display: flex;
    }

    :global(
            .vtex-flex-layout-0-x-flexCol--home-compre-por-departamento-item
        ):hover
        :global(
            .vtex-flex-layout-0-x-flexColChild--home-compre-por-departamento-item
        ):nth-child(1) {
        display: none;
    }

    :global(.vtex-flex-layout-0-x-flexCol--home-compre-por-departamento-item)
        :global(.vtex-store-components-3-x-imageElement) {
        max-width: 107px;
        border-radius: 6px;
    }
}




/* BLACK FRIDAY */
/*
  :global(.vtex-store-header-2-x-headerRowBackground--main-header-mobile), 
  :global(.vtex-store-header-2-x-headerRowBackground--main-header),
  :global(.vtex-flex-layout-0-x-flexRow--main-header-menu), 
  :global(.vtex-flex-layout-0-x-flexRow--main-header-menu) 
  :global(.vtex-category-menu-2-x-section--department) {background-color: #000!important;}
  :global(.vtex-menu-2-x-styledLinkContent--menu-links-item) {color: #fff!important;}
  :global(.irmaossoares-zig-custom-0-x-navLink) {color: #fff!important;}
  :global(.vtex-render__container-id-home),
  :global(.vtex-render__container-id-home-pitchbar),
  :global(.vtex-render__container-id-shelf-title),
  :global(.vtex-render__container-id-shelf),
  :global(.vtex-render__container-id-home-banners-1),
  :global(.vtex-render__container-id-shelf-title-2-new),
  :global(.vtex-render__container-id-shelf-2),
  :global(.vtex-render__container-id-home-banner-2-container),
  :global(.vtex-render__container-id-compre-por-departamento-title),
  :global(.vtex-render__container-id-home-compre-por-departamento),
  :global(.vtex-render__container-id-shelf-title-3),
  :global(.vtex-render__container-id-shelf-3),
  :global(.vtex-render__container-id-home-banners-3),
  :global(.vtex-flex-layout-0-x-flexRow--menu-row){background-color: #050500;}
  :global(.vtex-store-footer-2-x-footerLayout--footer--is)
  :global(.vtex-menu-2-x-styledLinkContent--footer-menu-item), 
  :global(.vtex-store-footer-2-x-footerLayout--footer--is) 
  :global(.vtex-rich-text-0-x-link--footer-menu-item),
  :global(.vtex-store-footer-2-x-footerLayout--footer--is)
  :global(.vtex-rich-text-0-x-paragraph--footer-menu-title) ,
  :global(.render-route-store-home)
  :global(.vtex-rich-text-0-x-headingLevel2--shelfTitle),
  :global(.vtex-login-2-x-label), 
  :global(.vtex-login-2-x-profile){color: #fff!important;}
  :global(.vtex-login-2-x-container .vtex-button__label::before){background: url(https://irmaossoares.vtexassets.com/assets/vtex.file-manager-graphql/images/ffce27bb-6ef5-45a5-a21e-a0c92ab7d647___9add38c3a40ccc6687bb6c5e0dc3617d.png) center no-repeat!important;}
  :global(.vtex-flex-layout-0-x-flexRowContent--home-banners-1) 
  :global(.vtex-store-components-3-x-imageElement){border-radius: 15px;}
  :global(.vtex-minicart-2-x-minicartWrapperContainer)
  :global(.vtex-minicart-2-x-minicartContainer)
  :global(.vtex-button){background-image: url(https://irmaossoares.vtexassets.com/assets/vtex.file-manager-graphql/images/67e9b0b2-4137-4bf7-8d7f-ca3368b05e9d___4894cea….png) !important;background-position: left !important; background-repeat: no-repeat !important; background-size: 30px !important;}
  :global(.vtex-minicart-2-x-minicartContainer)
  :global(.vtex-button)
  :global(.vtex-minicart-2-x-cartIcon){opacity: 0!important;}
  :global(.vtex-flex-layout-0-x-flexColChild--footer-logo-container)
  :global(.vtex-store-components-3-x-imageElement){max-width: 190px;}
  :global(.vtex-flex-layout-0-x-flexRowContent--footer-socials-container)
  :global(.vtex-store-components-3-x-imageElement){background-color: #ddd;border-radius: 4px;}
  :global(.vtex-flex-layout-0-x-flexRowContent--home-banners-3)
  :global(.vtex-store-components-3-x-imageElement){border-radius: 10px;}
  :global(.irmaossoares-zig-custom-0-x-menuToggle) span {background: #fff;}

@media screen and (max-width: 980px) {
  :global(.vtex-store-footer-2-x-footerLayout){margin-top: -35px;}
  :global(.irmaossoares-zig-custom-0-x-navLink) {color: #000 !important;}
  :global(.vtex-store-components-3-x-searchBarContainer){background-color: #000;}
}
@media screen and (min-width: 981px) {
  :global(.vtex-store-components-3-x-searchBarInnerContainer){
    background-color: #000!important;
    border: 1px solid #d9d9d9!important;}

     :global(.vtex-store-components-3-x-searchBarContainer)
     :global(.vtex-styleguide-9-x-input::placeholder), 
     :global(.vtex-store-components-3-x-searchBarContainer) 
     :global(.vtex-styleguide-9-x-input) {color: #fff!important; background-color: #000!important;}
     :global(.vtex-store-components-3-x-searchBarIcon--search){  background-color: #000!important;background-image: url(https://irmaossoares.vtexassets.com/assets/vtex.file-manager-graphql/images/520f21b4-3d77-45c7-b5cb-e5f5f3f7ff9c___6f75eb1….png)!important;background-position: center!important;background-repeat: no-repeat!important; background-size: 16px!important;}
     :global(.vtex-store-components-3-x-searchBarIcon--search)::before {display:none!important;}
     :global(.vtex-store-components-3-x-searchBarIcon--search)
     :global(.vtex-store-components-3-x-searchIcon){opacity: 0!important;}
    }
     */
/* END - BLACK FRIDAY  */
