.container {
    max-width: 1440px;
    padding: 0;
}

@media screen and (max-width: 1270px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.logoContainer {
    padding: 0;
}

.notificationBarContainer {
    background-color: #e6f1e6;
    color: #03034e;
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
}

.infoCardContainer--info-card-home {
    max-width: 1520px;
    margin: 0 auto;
    background-color: #e6f1e6;
    padding: 0px;
}

.newsletter {
    background-color: #03054e;
    max-width: 1528px;
    margin: 0 auto;
}

.newsletter .container {
    padding: 60px 10px;
}

.label {
    color: #fff;
    font-size: 26px;
}

.inputGroup {
    padding-bottom: 4px;
    display: flex;
    color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
    background-color: transparent;
    color: #fff;
    border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
    color: #fff;
    font-size: 16px;
}

.inputGroup :global(.vtex-button) {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-right: -24px;
}

.buttonContainer {
    padding-top: 0px;
}

.imageElement--storePrint {
    max-height: 300px;
    margin-bottom: 20px;
}

.skuSelectorContainer {
    margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
    .newsletter .container {
        padding: 140px;
    }

    .label {
        font-size: 40px;
    }

    .infoCardContainer--info-card-home .infoCardTextContainer {
        width: 30%;
    }

    .infoCardContainer--info-card-home .infoCardImageContainer {
        width: 70%;
    }

    .imageElement--storePrint {
        margin-bottom: 0px;
        max-height: 600px;
    }
}

.productImagesContainer--quickview .carouselContainer {
    justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
    object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
    display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image {
    image-rendering: -webkit-optimize-contrast;
}

/* new */

/* seach header */

.searchBarContainer {
    padding: 0;
    margin: 0 auto;
    max-width: 868px !important;
}

.searchBarInnerContainer {
    border: 0;
    border-radius: 8px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    height: 44px;
    display: flex;
    align-items: center;
    width: 100%;
}

.autoCompleteOuterContainer {
    width: 100%;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    border: none;
    height: 18px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder,
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000;
    padding: 0 !important;
    background-color: #fff;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
    padding: 0;
}

.searchBarIcon {
    padding: 0;
}

.searchBarIcon--search {
    min-width: 28px;
    background-color: #fff;
}

.searchBarIcon--search::before {
    /* content: url(assets/svgs/icon-lupa.svg); */
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    background-image: url(assets/svgs/icon-lupa.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.searchBarIcon--search .searchIcon {
    display: none;
}

@media only screen and (max-width: 1025px) {
    .searchBarInnerContainer {
        padding: 16px 10px;
    }

    .searchBarInnerContainer :global(.vtex-styleguide-9-x-input) {
        font-size: 16px;
    }
}

@media only screen and (max-width: 355px) {
    .searchBarContainer {
        padding: 0 10px;
    }
}

.notificationBarContainer {
    background-color: #e6f1e6;
    color: #03034e;
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
}

.infoCardContainer--info-card-home {
    max-width: 1520px;
    margin: 0 auto;
    background-color: #e6f1e6;
    padding: 0px;
}

.newsletter {
    background-color: #03054e;
    max-width: 1528px;
    margin: 0 auto;
}

.newsletter .container {
    padding: 60px 10px;
}

.label {
    color: #fff;
    font-size: 26px;
}

.inputGroup {
    padding-bottom: 4px;
    display: flex;
    color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
    background-color: transparent;
    color: #fff;
    border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
    color: #fff;
    font-size: 16px;
}

.inputGroup :global(.vtex-button) {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-right: -24px;
}

.buttonContainer {
    padding-top: 0px;
}

.imageElement--storePrint {
    max-height: 300px;
    margin-bottom: 20px;
}

.skuSelectorContainer {
    margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
    .newsletter .container {
        padding: 140px;
    }

    .label {
        font-size: 40px;
    }

    .infoCardContainer--info-card-home .infoCardTextContainer {
        width: 30%;
    }

    .infoCardContainer--info-card-home .infoCardImageContainer {
        width: 70%;
    }

    .imageElement--storePrint {
        margin-bottom: 0px;
        max-height: 600px;
    }
}

.productImagesContainer--quickview .carouselContainer {
    justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
    object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
    display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image {
    image-rendering: -webkit-optimize-contrast;
}

.discountInsideContainer {
    background-color: #0d6721;
    font-size: 16px;
    font-weight: bold;
    font-family: "Sarabun", sans-serif;
    border-radius: 5px;
    color: #fff;
}

.productDescriptionText {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Sarabun", sans-serif;
}

/* .carouselGaleryThumbs {
    max-width: 90px;
} */

/* .swiperCaret--product-image {
    width: 60px;
    height: 53px;
    background-color: #ffffff !important;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
} */

/* .productImagesGallerySwiperContainer--product-image {
    border: 1px solid #ebe9e9;
    box-sizing: border-box;
    border-radius: 15px;
} */
.productImagesThumb--product-image {
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
}

.productImagesThumbActive--product-image {
    border-color: #7ea30a;
}

.carouselGaleryThumbs--product-image {
    max-width: 13.6%;
}

.productImagesGallerySlide--product-image {
    padding: 50px 66px;
    border: 1px solid #cecece;
    border-radius: 8px;
    overflow: hidden;
}

.carouselGaleryCursor {
    max-width: 670px;
}

@media only screen and (max-width: 767px) {
    .productImagesGallerySwiperContainer--product-image {
        height: 100%;
        border: none;
        border-radius: 0;
    }
}

/* .carouselContainer--product-image .carouselGaleryThumbs {
    width: 90px;
} */

.carouselContainer--product-image .carouselGaleryCursor {
    padding: 0;
    width: calc(100% - 90px);
    margin-left: 0;
}

.productImagesThumbCaret--product-image .caretIcon {
    display: none;
}

.productImagesThumbCaret--product-image::after {
    content: "";
    width: 107px;
    background-image: url(/arquivos/thumb-arrow-new.svg);
    background-size: 55%;
    background-position: center;
    height: 61px;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    .carouselContainer--product-image .carouselGaleryCursor {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

.carouselContainer--product-image {
    overflow: visible;
}

.carouselContainer--product-image .carouselGaleryCursor {
    position: relative;
}

.productBrandContainer::before {
    content: "Marca: ";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #747474;
}

/* .carouselContainer--product-image .productImagesGallerySwiperContainer--product-image {
    position: static;
} */

.productImageTag--main {
    border-radius: 8px;
}

@media only screen and (min-width: 768px) {
    .carouselContainer--product-image .swiper-pagination {
        display: none;
    }
}

/* .carouselContainer--product-image .swiperCaretPrev {
    left: -29px;
}

.carouselContainer--product-image .swiperCaretNext {
    right: -21px;
} */

@media only screen and (max-width: 767px) {
    /* .carouselContainer--product-image {
        padding-bottom: 30px;
    } */

    .carouselContainer--product-image .swiperPaginationClickable {
        margin: 0;
        bottom: 6px;
        display: block !important;
    }

    .carouselContainer--product-image .swiperBullet {
        width: 18px !important;
        height: 16.77px !important;
        background: #C9C9C9 !important;
        border-radius: 50% !important;
        margin: 0 8px !important;
    }

    .carouselContainer--product-image .swiperBullet.swiperBullet--active {
        background: #A7CB33 !important;
        border: none !important;
        border-radius: 50px !important;
        width: 52px !important;
    }

    .carouselContainer--product-image .productImageTag {
        display: block;
    }

    .productBrandContainer {
        margin-left: 31px;
    }


}

.swiperCaret--product-image {
    display: none;
}

.figure--product-image--video {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure--product-image--video::before {
    content: url(assets/svgs/play-circle.svg);
    position: absolute;
    display: flex;
}

.productVideo--product-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer--product-image {
    width: 100%;
    height: 100%;
}

.shippingContainer {
    margin-top: 16px;
    margin-bottom: 8px;
}

.shippingContainer :global(.vtex-input__label)::after {
    content: "Digite seu CEP para calcular o frete";
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #727272;
}

.shippingContainer :global(.vtex-input__label) {
    font-size: 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
    margin-bottom: 0;
    padding-bottom: 12px;
}

.shippingContainer
    :global(.vtex-address-form__postalCode)
    :last-child:not(:global(.vtex-input-prefix__group)):not(
        :global(.vtex-input__suffix)
    ) {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
}

.shippingContainer :global(.vtex__icon-external-link) {
    display: none;
}

.shippingContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 22px 0 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
    width: 100%;
    display: flex;
}

.shippingContainer
    :global(.vtex-address-form__postalCode)
    :global(.vtex-input)
    :global(.vtex-input__label) {
    position: absolute;
    bottom: 100%;
    margin: 0 0 8px;
}

.shippingContainer
    :global(.vtex-address-form__postalCode)
    :global(.vtex-input-prefix__group) {
    height: 40px;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 234px;
}

.shippingContainer
    :global(.vtex-address-form__postalCode)
    :global(.vtex-input-prefix__group)
    :global(.vtex-address-form-4-x-input) {
    padding-right: 97px;
}

.shippingContainer :global(.vtex-button) {
    width: 144px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 240px;
    border: none;
    background: #BACD29;
    border-radius: 6px;
}

.shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 0;
}

.shippingContainer :global(.vtex-button) :global(.vtex-button__label)::before {
    content: "calcular";
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.shippingContainer :global(.vtex-button) :global(.vtex__icon-spinner) {
    color: #ffffff;
}

.shippingTable {
    border-color: #d0d0d0;
}

.skuSelectorItem--m3-custom-sku-selector--selected
    .frameAround--m3-custom-sku-selector {
    border: 2px solid #7d7d7d;
    border-radius: 5px;
}

.skuSelectorInternalBox--m3-custom-sku-selector {
    border: none;
}

.skuSelectorSubcontainer {
    margin: 0 0 24px;
}

.skuSelectorSubcontainer:last-child {
    margin-bottom: 0;
}

.skuSelectorContainer--m3-custom-sku-selector {
    margin: 16px 0 8px;
}

.skuSelectorSubcontainer .frameAround {
    border-radius: 5px;
    border-color: #e3e4e6;
}

.skuSelectorSubcontainer .skuSelectorInternalBox {
    border-radius: 5px;
}

.skuSelectorName {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #727272;
}

.skuSelectorName::after {
    content: ":";
}

.frameAround--m3-custom-sku-selector {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
}

.skuSelectorNameContainer,
.skuSelectorTextContainer,
.skuSelectorOptionsList {
    margin: 0;
}

.skuSelectorNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageElementLink--floating-btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 2rem;
    max-width: 64px;
    z-index: 20;
}

.imageElementLink--home-banner-2 {
    margin: 0 auto 48px;
    max-width: 1440px;
    display: flex;
}

.imageElement--first-img {
    margin-top: -3px;
    max-width: 109px;
}

.productDescriptionContainer {
    width: 100%;
    padding: 24px;
    border: 1px solid #cecece;
    border-radius: 8px;
    margin-bottom: 24px;
}

.productDescriptionTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    margin-bottom: 27px;
}

.showMoreButton {
    background-color: transparent;
    color: #bacd29;
}

@media only screen and (max-width: 767px) {
    .skuSelectorNameContainer {
        justify-content: center;
    }

    .imageElementLink--floating-btn-whatsapp {
        bottom: 10px;
        right: 13px;
    }
}

.skuSelectorOptionsList {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .skuSelectorOptionsList {
        width: auto;
    }

    .addressInfoAddressContainer {
        max-width: 75px;
    }
}

.skuSelectorItem {
    width: auto;
    height: auto;
    margin: 0 8px 0 0;
    border-radius: 4px;
}

.skuSelectorItemTextValue {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #414141;
}

.skuSelectorItemImageValue {
    display: block;
    width: 63px;
    height: 63px;
    object-fit: cover;
    object-position: top;
}

.frameAround--m3-custom-sku-selector {
    border: 1px solid #bebbbb;
    box-sizing: border-box;
    border-radius: 5px;
}

.skuSelectorItem--selected .frameAround--m3-custom-sku-selector {
    border: 1px solid #245189;
}

.skuSelectorItem--selected .skuSelectorItemTextValue {
    color: #245189;
}

.skuSelectorTextContainer {
    margin-right: 9px;
}

.skuSelectorSubcontainer--cor .skuSelectorTextContainer {
    margin-right: 17px;
}

.skuSelectorSubcontainer--cor .frameAround--m3-custom-sku-selector {
    border: 1px solid #ebe9e9;
    box-sizing: border-box;
    border-radius: 5px;
}

.skuSelectorSubcontainer--cor
    .skuSelectorItem--selected
    .frameAround--m3-custom-sku-selector {
    border: 1px solid #245189;
}

.skuSelectorSubcontainer--cor .skuSelectorItem {
    margin-right: 8px;
}

.userAddressContainer {
    background: transparent;
    padding: 0;
    margin: 0;
}

.addressInfoAddressContainer {
    font-size: 16px;
    color: #0d6721;
    font-weight: 600;
    text-decoration: underline;
}

.locationMarkerIcon {
    color: #0d6721;
}

.imageElement--submenu-img {
    min-width: 409px;
}

/* @media screen and (min-width: 1024px) and
(max-width: 1439px)
{
    .container {
        max-width: 1300px;
    }
} */

.shippingTableRadioBtn {
    accent-color: #a7cb33;
}

.imageElement--about-us-section-2-image {
    max-height: 359px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .imageElementLink--wishlist-header {
        margin-right: 9px;
        display: flex;
    }

    .searchBarContainer {
        padding: 0 16px 14px;
        border-bottom: 1px solid #e8e8e8;
    }

    .imageElement--image--ssl-encrypted {
        max-width: 174px;
    }

    .swiperCaret--product-image {
        display: block;
    }

    .swiperCaret--product-image :global(.vtex-store-components-3-x-caretIcon) {
        display: none;
    }

    .swiperCaret--product-image {
        background-image: url(/arquivos/product-image-arrow-right.svg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        padding: 0;
    }

    .swiperCaretPrev--product-image {
        transform: translate(0, -50%) rotate(180deg);
    }

    .swiperCaretPrev--product-image.carouselCursorDefault {
        background-image: url(/arquivos/product-image-arrow-left.svg);
        transform: translate(0, -50%) rotate(0);
    }

    .swiperCaretNext--product-image.carouselCursorDefault {
        background-image: url(/arquivos/product-image-arrow-left.svg);
        transform: translate(0, -50%) rotate(180deg);
    }

    .shippingContainer :global(.vtex-button) {
        position: initial;
        width: 100%;
    }

    .shippingContainer :global(.vtex-address-form__postalCode) {
        flex-direction: column;
    }
    .shippingContainer {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .shippingContainer
        :global(.vtex-address-form__postalCode)
        :global(.vtex-input-prefix__group) {
        max-width: initial;
    }

    .vtex-address-form__postalCode-forgottenURL {
        position: absolute;
        bottom: -30px;
    }

    /* .shippingContainer :global(.vtex-input__label)::after {
        display: none;
    } */

    .shippingContainer :global(.vtex-address-form__postalCode) {
        padding-bottom: 6px;
    }

    .shippingTable {
        margin-top: 50px;
    }

    .shippingNoMessage {
        margin-top: 30px;
    }
}
