.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
    border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
    opacity: 1;
}

@media screen and (max-width: 40em) {
    .container :global(.vtex-modal-layout-0-x-triggerContainer) {
        display: none;
    }
}

.nameContainer {
    justify-content: start;
    padding-top: 8px !important;
    padding-bottom: 11px !important;
}

.productNameContainer {
    min-height: 92px;
}

.brandName {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 23px;
    color: #000005 !important;
}
.nameWrapper--product-name-shelf {
    text-align: start;
    line-height: 16px;
}

.container {
    text-align: start;
}

.imageContainer {
    text-align: center;
}

.image {
    border-radius: 0.25rem;
}

.container--is-shelf {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    border: 1px solid #cecece;
}

.container--is-shelf:hover {
    border-color: #7ea30a;
}

.container--is-shelf :global(.vtex-button) {
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 0;
    color: #fff;
    height: 52px;
    background-color: #0d6721;
    border: none;
}

.container--is-shelf :global(.vtex-button__label)::after {
    content: "";
    display: block;
    background-image: url(/arquivos/summary-icon.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 33px;
    height: 32px;
}

.container--is-shelf :global(.vtex-button__label) {
    gap: 16px;
}

.element--is-shelf {
    padding: 0 !important;
}

@media screen and (max-width: 767px) {
    .brandName {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 115px;
        font-size: 14px !important;
    }
    .container--is-shelf {
        background-color: #fff;
        padding: 7px;
    }

    .container--is-shelf :global(.vtex-button__label)::after {
        min-width: 33px;
    }
}
