.unitPriceMeasurementUnit {
    font-size: 0;
}
.unitPrice {
    font-style: italic;
    color: #4d4d4d;
}
.unitPriceMeasurementUnit::before {
    content: " por unidade";
    font-size: 12px;
}
.quantitySelector {
    max-width: 200px;
    margin-right: auto;
    margin-top: 5px;
}
.productImageContainer {
    display: flex;
    align-items: center;
    height: 100%;
}
.productImageAnchor {
    height: 100%;
}
