.productHighlightWrapper--collection {
    background-color: #e54545;
    text-align: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600 !important;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    max-width: fit-content;
}

.productHighlightWrapper--collection[data-highlight-name="Desconto à vista"] {
    background-color: #000;
}

.productHighlightWrapper--collection[data-highlight-name="Saldão"], .productHighlightWrapper--collection[data-highlight-name="Pisos do mês"] {
    background-color: #7EA30A;
}


/* @media screen and (max-width: 767px){
    .productHighlightWrapper--collection{
        width: 190px;
    }
} */
