.userImage {
    display: none;
}

.menuLinks :global(.b--action-primary) {
    border-color: #292929;
    color: #292929;
}

.boxContainer {
    border: 1px solid #c4c4c4;
}

.boxContainerFooter {
    background-color: #148b2e !important;
    max-height: 36px;
}

.boxContainerFooter :global(.vtex-button) {
    color: #fff;
    margin-top: 2px;
    transition: ease-in 0.22s all;
}

.boxContainerFooter :global(.vtex-button):hover {
    background-color: #bacd29;
}

:global(.vtex-pageHeader__container) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
}

:global(.vtex-pageHeader__title) {
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #6d6e70;
}

:global(.vtex-pageHeader-link__container) {
    padding-bottom: 2rem;
}

/* my-accont*/

.menuLinks :global(.b--action-primary) {
    border-color: #148b2e;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    color: #6d6e70;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0px;
}

.menuLinks :global(.b--transparent) {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    color: #6d6e70;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0px;
}

.userGreeting,
.userName {
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #148b2e;
    position: relative;
}

.userGreeting {
    padding-top: 5px;
}

.dataEntryLabel {
    font-family: "Sarabun", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #6d6e70;
}

.dataEntryChildren {
    font-family: "Sarabun", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848484;
}

.newsletterBoxContainer {
    display: none;
}

.boxContainer {
    border: 1px solid #c4c4c4;
}

.boxContainerBody {
    font-family: "Sarabun", sans-serif;
    background-color: #fff;
    font-size: 14px;
}

.boxContainerFooter {
    background-color: #292929;
    max-height: 36px;
}

.boxContainerFooter :global(.vtex-button) {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    transition: ease-in 0.22s all;
}

.boxContainerFooter :global(.vtex-button):hover {
    background-color: #bacd29;
}

:global(.vtex-pageHeader__container) {
    padding-top: 1.3rem;
    padding-bottom: 0;
    padding-left: 1rem;
}

/* :global(.vtex-account__page-body) {
    margin: 0px !important;
} */

:global(.vtex-pageHeader-link__container) {
    padding-bottom: 20px;
}

.pageHeader__children :global(.t-action--small) {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #6d6e70;
}

:global(.vtex-account__orders-list) :global(.vtex-my-orders-app-3-x-orderBody) {
    background-color: #fff;
}

:global(.vtex-reviews-and-ratings-3-x-container) {
    max-width: 1330px;
    margin: 0 auto;
    background: #fff;
    border-radius: 15px;
    padding: 2rem 2.5rem;
}

:global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
    margin-bottom: -4px;
}

:global(.vtex-reviews-and-ratings-3-x-summaryContainer) {
    margin-bottom: 20px;
}

@media (max-width: 768px) {


    :global(.vtex-modal-layout-0-x-paper.bg-base.relative.br2.vtex-modal-layout-0-x-paperNotFullScreen.dib.tl.v-mid) {
        bottom: 0;
        position: absolute;
        width: 100%;
        left: 0;
        max-width: 80%;
        right: 0;
    }

    :global(.vtex-reviews-and-ratings-3-x-container) {
        margin: 0 8px !important;
        padding: 8px 20px;
    }
}


:global(.vtex-rich-text-0-x-link--conteudo-modal-cookies){
    font-weight: bold;
    color: #000;
    text-transform: lowercase;

}

:global(.vtex-rich-text-0-x-wrapper--conteudo-modal-cookies)
:global(.vtex-rich-text-0-x-paragraph){

    padding: 20px;
    max-width: 700px;
    padding-bottom: 0px;
    font-family: Sarabun, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
:global(.vtex-modal-layout-0-x-closeButton)::before{

    content: 'Aceitar';
}
:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
:global(.vtex-modal-layout-0-x-closeButton) svg{display:none;}

:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
:global(.vtex-modal-layout-0-x-closeButton){
    background-color: #bacd29;
    color: #fff;
    width: 110px;
    margin-right: 36px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: Sarabun, sans-serif;
    text-align: center;

}

:global(.vtex-modal-layout-0-x-headerContainer--modal-aceite-cookies-header)
:global(.vtex-modal-layout-0-x-closeButton):hover{
    background-color:#148b2e;
    color: #fff;
    width: 110px;
    margin-right: 36px;
    border-radius: 5px;
    margin-bottom: 20px;

}

:global(.vtex-modal-layout-0-x-paper.bg-base.relative.br2.vtex-modal-layout-0-x-paperNotFullScreen.dib.tl.v-mid) {
    bottom: 0;
    position: absolute;
    background-color: #fff;
}

:global(article[data-status="payment-pending"]) :global(.c-on-warning) {
    font-size: 0;
}

:global(article[data-status="payment-pending"]) :global(.c-on-warning)::before {
    content: 'Aguardando aprovação';
    font-size: .75rem;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
    display: none!important;
}
