.link--home-compre-por-departamento-item-title {
    text-decoration: none;
    max-width: 106px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-align: center;
    display: block;
    margin-top: 15px;
}
