.flexRowContent--menu-link,
.flexRowContent--main-header {
    padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
    .flexRowContent--menu-link,
    .flexRowContent--main-header {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 80rem) {
    .flexRowContent--menu-link,
    .flexRowContent--main-header {
        padding: 0 0.25rem;
    }
}

.flexRowContent--menu-link {
    background-color: #03044e;
    color: #fff;
}

.flexRowContent--main-header {
    background-color: #ebebeb;
}

.flexRowContent--main-header-mobile {
    align-items: center;
    padding: 0.625rem 0.5rem;
    background-color: #ebebeb;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
    color: #ffffff;
    font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
    color: #727273;
    font-size: 14px;
}

.flexRow--deals {
    background-color: #0f3e99;
    padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
    align-items: center;
}

.flexRow--deals .flexCol {
    align-items: center;
    margin-bottom: 5px;
    padding-top: 5px;
}

.flexCol--filterCol {
    max-width: 500px;
    min-width: 243px;
}

.flexCol--productCountCol {
    align-items: flex-start;
}

.flexCol--orderByCol {
    align-items: flex-end;
}

.flexCol--orderByMobileCol {
    width: 200px;
}

.flexCol--filterMobileCol {
    width: 140px;
}

.flexRow--quickviewMainRow {
    display: flex;
    max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
    overflow-y: auto;
    height: 66% !important;
    overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
    height: 34% !important;
}

.flexRow--addToCartRow {
    padding-bottom: 1rem;
}

.flexRowContent--aboutUs--is {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    margin-top: 2rem;
    z-index: 2;
    position: relative;
}

.flexRow--aboutUs-2--is {
    background-color: #0d6721;
}

.flexRowContent--aboutUs-2--is {
    background-color: #0d6721;
    padding: 5rem;
    position: relative;
    margin-top: -2rem;
    z-index: 1;
}

.flexRow--aboutUs-2--is :global(.vtex-rich-text-0-x-paragraph--about-2) {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}

.flexRowContent--aboutUs-slider--is {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    margin-top: -3rem;
    z-index: 2;
    position: relative;
    margin-bottom: 3rem;
}

.flexRowContent--servicos :global(.vtex-rich-text-0-x-heading) {
    color: #0d6721;
    font-weight: bold;
    font-size: 2rem;
}

.flexRowContent--servicos :global(.vtex-rich-text-0-x-paragraph) {
    color: #0d6721;
    font-weight: 400;
    font-size: 1.2rem;
}

.flexRowContent--servicos :global(.vtex-rich-text-0-x-link--servicos--contact) {
    color: #0d6721;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
}

.flexCol--discounts-title {
    padding: 60px 0;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 40px 0 24px;
    height: auto;
}

.flexRow--footer-copyright {
    background-color: #000005;
    padding: 22px 0;
}

.flexRowContent--footer-copyright {
    justify-content: space-between;
    align-items: center;
}

.flexRowContent--header-principal-right {
    justify-content: center;
    gap: 35px;
}

.flexRowContent--header-principal-right
    :global(.vtex-store-components-3-x-imageElementLink) {
    max-height: 27px;
    margin-top: 9px;
}

.flexRow--submenuContainer {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.flexRowContent--submenuContainer {
    justify-content: space-between;
}

.flexCol--submenuExternasLeftFirstCol,
.flexCol--submenuExternasMiddleItems,
.flexCol--submenuExternasRightItems {
    gap: 16px;
}

.flexCol--submenuExternasLeftFirstCol {
    margin-right: 20px;
}

.flexRow--slider-principal :global(.vtex-store-components-3-x-container) {
    max-width: 1920px;
}

.flexRowContent--slider-principal {
    margin-top: 0;
}

.flexRow--slider-principal {
    margin-bottom: 84px;
}

.flexRowContent--home-pitchbar {
    justify-content: center;
    gap: 16px;
    margin-bottom: 48px;
}

.flexRow--home-pitchbar-item {
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 6px;
    max-height: 72px;
    display: flex;
    align-items: center;
}

.flexRowContent--home-pitchbar-item {
    gap: 16px;
}

.flexCol--home-pitchbar-info {
    justify-content: center;
}

.flexRow--green-item {
    background-color: #bacd29;
}

.flexRow--green-item
    :global(.vtex-rich-text-0-x-paragraph--home-pitchbar-title),
.flexRow--green-item
    :global(.vtex-rich-text-0-x-paragraph--home-pitchbar-subtitle) {
    color: #fff;
}

.flexRow--shelf {
    margin-bottom: 48px;
}

.flexRow--home-banners-1 {
    margin-bottom: 48px;
}

.flexRowContent--home-banners-1,
.flexCol--home-banners-1-middle {
    justify-content: space-between;
}

.flexColChild--home-banners-1-middle {
    max-height: 192px;
}

.flexRowContent--home-banners-1
    :global(.vtex-store-components-3-x-imageElement) {
    height: 100%;
}

.flexColChild--home-compre-por-departamento-item {
    display: flex;
    justify-content: center;
}

.flexColChild--home-compre-por-departamento-item
    :global(.vtex-store-components-3-x-imageElementLink) {
    max-height: 107px;
}

.flexRowContent--home-compre-por-departamento {
    justify-content: space-between;
}

.flexRowContent--home-compre-por-departamento .col {
    width: 100% !important;
}

.flexRow--home-compre-por-departamento {
    margin-bottom: 48px;
}

.flexRow--home-banners-3 {
    margin-bottom: 48px;
}

.flexRowContent--home-banners-3
    :global(.vtex-store-components-3-x-imageElementLink) {
    max-height: 401px;
}

.flexCol--newsletter-title {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/arquivos/newsletter-bg.png);
    background-position: center;
    background-size: 91% 100%;
    background-repeat: no-repeat;
}

.flexColChild--newsletter-title {
    height: 100%;
}

.flexRowContent--inputs-form {
    margin-bottom: 10px;
}

.flexRowContent--menu-row {
    padding: 57px 0;
    justify-content: space-between;
}

.flexRowContent--footer-socials-container {
    justify-content: center;
    gap: 16px;
    margin-top: 13px;
}

.flexRowContent--pagamentos-bandeiras {
    flex-wrap: wrap;
    max-width: 168px;
    gap: 8px;
}

.flexRowContent--footer-copyright-dev {
    align-items: center;
    gap: 16px;
}

.flexRowContent--footer-copyright-dev
    :global(.vtex-store-components-3-x-imageElementLink) {
    display: flex;
    max-width: fit-content;
}

.flexRow--category-banner {
    max-width: 1440px;
    margin: 21px auto 24px;
}

.flexRowContent--product-id-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.flexRowContent--is-buy-button {
    margin: 0;
}

.flexRowContent--is-buy-button :global(.vtex-button) {
    min-width: 303px;
    max-height: 40px;
    border-radius: 6px !important;
    background-color: #0d6721 !important;
    border-color: #0d6721 !important;
}

.flexRow--quantity-buy-container {
    margin-bottom: 24px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cecece;
}

.flexRowContent--quantity-buy-container .stretchChildrenWidth:first-child {
    width: auto !important;
}

.flexRowContent--quantity-buy-container .stretchChildrenWidth:last-child {
    width: 100% !important;
}

.flexRowContent--product-description {
    flex-direction: column;
}

.flexRowContent--product-description .stretchChildrenWidth {
    width: 100% !important;
}

.flexRowContent--faq-breadcrumb {
    align-items: center;
    gap: 8px;
    margin: 24px 0 31px;
}

.flexRow--header-topbar-container {
    width: 100%;
}

.flexRowContent--header-topbar-container {
    align-items: center;
    justify-content: space-between;
}

.flexRowContent--header-topbar-container .col {
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    /* .flexRow--minibanners-2 */

    .vtex-flex-layout-0-x-flexRow {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .flexRowContent--mobile-slider-irmaosoares {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .flexRow--conheca-nossos-servicos {
        display: none;
    }

    .flexCol--discounts-title {
        padding: 35px 0;
    }

    .flexRowContent--home-pitchbar-item {
        display: flex;
    }

    .flexRow--home-pitchbar-item {
        min-width: fit-content;
    }

    .flexRow--slider-principal {
        margin-bottom: 64px;
    }

    .flexRowContent--home-pitchbar {
        margin-bottom: 71px;
    }

    .flexRow--shelf {
        padding: 0 8px;
        margin-bottom: 38px;
    }

    .flexCol--home-banners-1-content-mobile {
        gap: 16px;
    }

    .flexCol--home-banners-1-content-mobile
        :global(.vtex-store-components-3-x-imageElementLink) {
        display: flex;
        justify-content: center;
    }

    .flexRowContent--home-compre-por-departamento {
        padding: 0 7px;
    }

    .flexRow--home-compre-por-departamento {
        margin-bottom: 68px;
    }

    .flexCol--newsletter-title {
        background-size: 88% 115%;
    }

    .flexRowContent--menu-row {
        padding: 32px 0 27px;
    }

    .flexCol--footer-logo-container .flexColChild {
        display: flex;
        justify-content: center;
    }

    .flexRowContent--footer-socials-container {
        display: flex;
        margin-bottom: 44px;
    }

    .flexRow--menu-row :global(.vtex-menu-2-x-menuContainerNav) {
        padding-left: 16px;
        margin-bottom: 16px;
    }

    .flexRowContent--pagamentos-bandeiras {
        display: flex;
        max-width: initial;
    }

    .flexRowContent--footer-copyright {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .flexRowContent--footer-copyright-dev {
        display: flex;
    }

    .flexRow--category-banner {
        padding: 0 16px;
        display: none;
    }

    .flexRow--breadcrumb-search-mobile {
        margin: 24px 0;
        padding-left: 12px;
    }

    .flexRowContent--category-banner-mobile {
        padding: 0 16px;
    }

    .flexRowContent--searchInfoMobileRow {
        flex-direction: row-reverse;
        padding: 0 16px;
        justify-content: center;
        gap: 16px;
        margin-top: 24px;
        align-items: center;
    }
}
