.container--deals {
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.container--shelfTitle {
    color: #0d6721;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 1440px;
}

@media screen and (min-width: 768px) {
    .wrapper--shelfTitle {
        width: calc(90% - 200px);
    }
}

.heading--shelfTitle {
    display: flex;
    align-items: center;
}

/* .heading--shelfTitle::after { */
/* .wrapper--shelfTitle::after {
    background-color: #0D6721;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 65%;
} */

.wrapper--shelfTitle {
    width: 100%;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 15px; */
}

.headingLevel2--shelfTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    margin: 0;
}

.container--deals .paragraph {
    margin: 0;
}

.container--link {
    justify-content: center;
}

.container--question {
    justify-content: center;
}

.container--question .paragraph {
    text-align: center;
    max-width: 540px;
    margin: 0 16px;
    padding-top: 120px;
    color: #03034e;
}

.container--question .strong {
    font-size: 32px;
    line-height: 2rem;
    font-weight: 700;
}

.container--link .paragraph {
    text-align: center;
    max-width: 540px;
    padding-top: 36px;
    padding-bottom: 84px;
    color: #03034e;
}

.container--link .strong {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.container--link .link {
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: #03034e;
}

.container--title {
    color: #03034e;
    font-size: 28px;
    font-weight: 700;
}

.heading--discounts-title {
    color: #0d6721;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 10px;
}

.paragraph--discounts-subtitle {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.paragraph--footer-copyright-evision {
    margin: 0;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    font-family: "Sarabun", sans-serif;
    margin-top: -7px;
}

.paragraph--top-bar-whatsapp,
.link--top-bar-fale-conosco,
.paragraph--top-bar-fale-conosco {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    text-decoration: none;
}

.paragraph--submenuTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    margin: 0 0 30px;
}

.paragraph--home-pitchbar-title {
    margin: 0 0 5px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #000;
}

.paragraph--home-pitchbar-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000;
}

.wrapper--home-compre-por-departamento-title {
    margin-bottom: 8px;
}

.link--home-pitchbar-subtitle {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .headingLevel2--shelfTitle {
        font-size: 22px;
    }

    .heading--discounts-title {
        line-height: 38px;
        margin: 0 0 25px;
    }

    .paragraph--discounts-subtitle {
        line-height: 21px;
        padding: 0 18px;
    }
}

@media only screen and (min-width: 640px) {
    .container--question .strong {
        font-size: 40px;
        line-height: 3rem;
    }

    .container--about {
        max-width: 85%;
    }

    .container--title {
        color: #03034e;
        font-size: 40px;
        font-weight: 700;
        max-width: 60%;
    }

    .container--title .paragraph {
        line-height: 1.3em;
    }
}
