.styledLinkContainer--menu-links-item{
    padding: 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    position: relative;
    margin: 0 8px;
}

.styledLinkContent--menu-links-item{
    color:#FFF;
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: pre-wrap;

}

.styledLinkContent--menu-links-item:hover{
    color:#BACD29;
}


.styledLink--menu-links-item--highlight .styledLinkContent--menu-links-item{
    color:#BACD29;
}
.menuItem--menu-links-item:hover{
    background-color: #148B2E;
}

.styledLink--topbar-buy-whatsapp{
    font-size:16px
}

.submenuWrapper--ofertas {
    background-color: #148b2e;
    left: -69px;
    padding: 0;
    border: none;
}

.submenuWrapper--ofertas .menuContainer {
    flex-direction: column;
}

.styledLinkContainer--ofertas {
    justify-content: flex-start;
    margin: 0;
    padding: 0 15px;
    transition: none;
}

.styledLinkContainer--ofertas:hover {
    background-color: #BACD29;
}

.styledLinkContent--ofertas {
    color: #FFF !important;
    font-size: 15px;
    font-weight: 400;
}

.styledLink--ofertas {
    height: 100%;
    display: flex;
}
