.itemList {
    font-family: "Sarabun", sans-serif;
}

/* @media only screen and (max-width: 991px) {
    .biggy-autocomplete-wrapper {
        width: 90vw;
    }

    .biggy-autocomplete-wrapper .imageContainer {
        max-width: 64px;
    }
} */

/* @media screen and (min-width:1380px){
    .biggy-autocomplete{
        left:16rem;
    }
} */

.biggy-autocomplete-wrapper {
    width: 868px;
}

.biggy-autocomplete {
    top: 25px;
    left: 10px;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.itemList--suggestion {
    border-bottom: 1px solid #ebebeb;
}

.itemListTitle {
    margin-bottom: 14px !important;
}

.tileListItem .vtex-product-summary-2-x-containerNormal {
    padding: 0 22px;
}

.tileListItem {
    border-right: 1px solid #ebebeb;
}

.tileListItem:last-child {
    border-right: none;
}

.tileListSeeMore {
    color: #0d6a39;
    transition: 0.2s;
    line-height: 30px;
    height: 30px;
}

.tileListSeeMore:hover {
    opacity: 0.8;
}

.tileListList {
    flex-direction: row !important;
}

@media (max-width: 1650px) {
    .biggy-autocomplete-wrapper {
        width: 500px;
    }

    .tileListItem .vtex-product-summary-2-x-containerNormal {
        padding: 0 15px;
    }
}

@media (max-width: 1400px) {
    .biggy-autocomplete-wrapper {
        width: 500px;
    }
}

@media (max-width: 1200px) {
    .biggy-autocomplete-wrapper {
        width: 498px;
    }
}

@media (max-width: 1024px) {
    .biggy-autocomplete-wrapper {
        width: calc(100vw - 33px);
    }

    .tileListItem .vtex-product-summary-2-x-containerNormal {
        padding: 0 7.5px;
    }
}
